@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
:root {
  --background-color: #F9FAFB;
  --text-color: #111827;
  --secondary-text-color: #4B5563;
  --hover-color: #030712;
}
[data-theme="dark"] {
  --background-color: #030712;
  --text-color: #ffffff;
  --secondary-text-color: #9CA3AF;
  --hover-color: #ffffff;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
  user-select: none;
  transition: background-color 0.3s, color 0.3s;
}
